type file
id Fake.Shake
version 0.1
authors Michael Newton
description Shake build dependencies for Fake
files
    bin/Fake.Shake.dll
dependencies
    FAKE ~> CURRENTVERSION
    FsPickler ~> CURRENTVERSION